<html>

<head>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<title>{{page.title}}</title>

<body>
    <div class="container">
        <div class="header">&nbsp;</div>
        <div class="body">
            <div class="snake">
                <img src="assets/img/snake-tail.png" alt="Snake Tail"></div> {{ content }}

            <div class="logo"><img src="assets/img/pyconau-logo.png"></div>
        </div>
        <div class="footer">&nbsp;</div>
    </div>
</body>

</html>